<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= render 'sessions/info' %>

<%= form_with url: session_path do |form| %>
  <div class="sign-field">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  </div>

  <div class="sign-field">
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  </div>

  <div class="actions">
    <%= form.submit "Sign in" %>
  </div>
<% end %>
<br>

<%= link_to "Forgot password?", new_password_path %>
