<%= render 'sessions/intro' %>
<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<%= form_with url: session_path, class: "center" do |form| %>
  <div class="sign-field">
    <%= form.label :email_address, class: "search-label" %>
    <%= form.email_field :email_address, class: "search-keywords", required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  </div>

  <div class="sign-field">
    <%= form.label :password, class: "search-label"  %>
    <%= form.password_field :password, class: "search-keywords", required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  </div>

  <div class="actions">
    <%= form.submit "Sign in", class: "search-button" %>
  </div>
<% end %>
<br>

<%= link_to "Forgot password?", new_password_path, class: "center" %>
