<%= tag.div(class: "container") do%>
  <%= tag.div(class: "halfpanel") do%>
    <%= tag.h1 "sign up", class: "upper" %>
      <%= form_with(model: @user, url: users_path, local: true) do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= tag.div(class: "sign-field") do %>
          <%= form.label :email_address %>
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
        <% end %>

        <%= tag.div(class: "sign-field") do %>
          <%= form.label :password %>
          <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter your password", maxlength: 72 %><br>
        <% end %>

        <%= tag.div(class: "sign-field") do %>
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm your password", maxlength: 72 %><br>
        <% end %>

        <%= tag.div(class: "sign-field") do %>
          <%= form.label :api_token %>
          <%= form.text_field :api_token, required: true, autocomplete: "off", placeholder: "Enter your API Read Access Token", value: params[:api_token] %><br>
        <% end %>

        <%= tag.div(class: "actions") do %>
          <%= form.submit "Send" %>
        <% end %>
      <% end %>
  <% end %>
<% end %>